################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AspNetCore
/AspNetCore/obj
/AspNetCore/bin/Debug/netcoreapp3.1
